extends layout

block content
  button.w3-btn.w3-round-large(onclick="window.location.href = '/register'") Registar utilizador
  button.w3-btn.w3-round-large(onclick="window.location.href = '/logout'") Logout
  style.
    body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  .w3-content(style='max-width:1400px')
    div.alert.success(id="divAlertSuccess")
      span.closebtn &times;
      strong Sucess!
      | Ação positiva
    // Header
    header.w3-container.w3-center.w3-padding-32
      h1
        b UM SHARE
      p
        | Welcome to the blog of 
        span.w3-tag unknown
    .w3-row
      .topnav
        a.active(id="tabFeed") Feed
        a(id="tabGrupos") Grupos
        a(id='tabPerfil') Perfil
        .search-container
          form(action='/action_page.php')
            input(type='text' placeholder='Search..' name='search')
            button(type='submit')
              i.fa.fa-search
    div(id="publicacoesLayout")
      form(action="http://localhost:5003/publicacoes" method="POST" enctype='multipart/form-data' id="publicacaoForm").w3-container.w3-center.w3-padding-16.w3-border.w3-border-indigo
        h4.w3-left Publicação
        input.w3-input.w3-cell.w3-border.w3-margin-bottom(type="text" name="metadata" placeholder="Metadata? (Exemplo: SSI,TESTE)")
        input.w3-input.w3-cell.w3-border.w3-margin-bottom(type="text" name="conteudo" placeholder="Texto")
        .w3-cell-row(id="f1")
          input.w3-input.w3-cell(type="file" name="ficheiro")
        button.w3-button.w3-round-large.w3-indigo.w3-left.w3-margin-bottom.w3-margin-top(id='addfile') Adicionar outro ficheiro
        input.w3-input.w3-hover-shadow.w3-center(type="submit" value="Publicar" id="btnPublicar")
      div(id="publicacoesInsertZone")

    div(id="gruposLayout")
      div(id="gruposInsertZone")
    br

    div(id="perfilLayout")
      div(id="perfilInsertZone")


  footer.w3-container.w3-dark-grey.w3-padding-32.w3-margin-top
    button.w3-button.w3-black.w3-disabled.w3-padding-large.w3-margin-bottom Previous
    button.w3-button.w3-black.w3-padding-large.w3-margin-bottom Next &raquo;
    p
      | Powered by 
      a(href='https://www.w3schools.com/w3css/default.asp' target='_blank') w3.css


      .w3-row(id="templatePublicacoes" style="display:none")
        .w3-col.l8.s12
          .w3-card-4.w3-margin.w3-white
            .w3-container
              h3
                p(id="conteudoPub")
              h5
                p(id="metadataPub")
              h5
                //each file in pub.ficheiros
                  p= file.designacao
                  p= file.dataupload

      .w3-row(id="templateGrupos" style="display:none")
        .w3-col.l8.s12
          .w3-card-4.w3-margin.w3-white
            .w3-container
              h3
                p(id="nomeGrupo")
              h5
                p(id="descricaoGrupo")
              h5
                p(id="adminGrupo")
              h5
                p(id="membrosGrupo")

  script.
    $(document).ready(function () {
      function showTabFeed() {
        $('#publicacoesInsertZone').empty();
        $.ajax({
            url: "/feed"
        })
        .done(function( data ) {
          $('#gruposLayout').hide();
          $('#publicacoesLayout').show();
          $('#tabGrupos').removeClass('active');
          $('#tabFeed').addClass('active');
          data.forEach(function(item){
            var clone = $('#templatePublicacoes').clone(true);
            clone.attr("style", "");
            clone.find('#conteudoPub').text(item.conteudo);
            clone.find('#metadataPub').text(item.metadata);
            clone.appendTo("#publicacoesInsertZone");
          })
        });
      }
      showTabFeed();
      $("#tabFeed").on("click", function () {
        if(!$('#tabFeed').hasClass('active')){
          showTabFeed();
        }
      });
      $("#tabGrupos").on("click", function () {
        if(!$('#tabGrupos').hasClass('active')){
          $('#gruposInsertZone').empty();
          $.ajax({
              url: "/grupos"
          })
          .done(function( data ) {
            $('#publicacoesLayout').hide();
            $('#gruposLayout').show();
            $('#tabFeed').removeClass('active');
            $('#tabGrupos').addClass('active');
            data.forEach(function(item){
              var clone = $('#templateGrupos').clone(true);
              clone.attr("style", "");
              clone.find('#nomeGrupo').text(item.nome);
              clone.find('#descricaoGrupo').text(item.descricao);
              clone.find('#adminGrupo').text(item.admin);
              clone.find('#membrosGrupo').text(item.membros.length);
              clone.appendTo("#gruposInsertZone");
            })
          });
        }
      });
      $("#tabPerfil").on("click", function () {
        if(!$('#tabPerfil').hasClass('active')){
          $('#perfilInsertZone').empty();
          $.ajax({
              url: "/perfil"
          })
          .done(function( data ) {
            console.log("Dados do perfil " + data);
           /* $('#publicacoesLayout').hide();
            $('#gruposLayout').show();
            $('#tabFeed').removeClass('active');
            $('#tabGrupos').addClass('active');
            data.forEach(function(item){
              var clone = $('#templateGrupos').clone(true);
              clone.attr("style", "");
              clone.find('#nomeGrupo').text(item.nome);
              clone.find('#descricaoGrupo').text(item.descricao);
              clone.find('#adminGrupo').text(item.admin);
              clone.find('#membrosGrupo').text(item.membros.length);
              clone.appendTo("#gruposInsertZone");
            })*/
          });
        }
      });
    });
