extends layout

block content
  style.
    body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  .w3-content(style='max-width:1400px; background-color:#C8EFF9')
    div.alert.w3-red(id="divAlertWarning" style="opacity:0")
      span.closebtn &times;
      strong(id="msgWarning")
    div.alert.success(id="divAlertSuccess" style="opacity:0")
      span.closebtn &times;
      strong(id="msgSuccess")
    header.w3-container.w3-center.w3-padding-32
      h1
        b UM SHARE
      p
        | Partilha os teus 
        span.w3-tag|apontamentos!
    .w3-row
      .topnav
        a.active(id="tabFeed") Feed
        a(id="tabGrupos") Grupos
        a.w3-right(href="/logout") Terminar Sessão
        a.w3-right(id="tabPerfil") Perfil

    div(id="publicacoesLayout")
      div(id="divPublicacaoForm")
        form(action="http://localhost:5003/publicacoes" method="POST" enctype='multipart/form-data' id="publicacaoForm").w3-container.w3-center.w3-padding-16.w3-border
          h4.w3-left Publicação
          input.w3-input.w3-cell.w3-border.w3-margin-bottom(id="conteudo" type="text" name="conteudo" placeholder="Conteúdo" required)
          input.w3-input.w3-cell.w3-border.w3-margin-bottom(type="text" name="metadata" placeholder="Hashtags (Ex: dweb2019, mei)")
          input.w3-input.w3-cell.w3-border.w3-margin-bottom.w3-hide(id="utilizador" type="text" name="utilizador" value=user required)
          input.w3-input.w3-cell.w3-border.w3-margin-bottom.w3-hide(type="text" name="grupo" value='')        
          .w3-cell-row(id="f1" class="f1")
            h5(style="font-size:15px").w3-left Adicione os ficheiros que deseja partilhar
            input.w3-input.w3-cell(type="file" id="ficheiro" name="ficheiro")
          button.w3-button.w3-round-large.w3-indigo.w3-left.w3-margin-bottom.w3-margin-top(id='addfile') Adicionar outro ficheiro
          button.w3-button.w3-round-large.w3-indigo.w3-left.w3-margin-bottom.w3-margin-top.w3-margin-left(id='removefile') Remover ficheiro
          input.w3-input.w3-hover-shadow.w3-center.colorButtons(type="submit" value="Publicar" id="btnPublicar")
      button.w3-button.w3-hover-shadow.w3-large.w3-black(id='hidePublicacaoForm' style="width:100%") Esconder
      button.w3-button.w3-hover-shadow.w3-large.w3-black.w3-hide(id='showPublicacaoForm' style="width:100%") Nova publicação
      
      div.w3-margin-left.w3-margin-top(id="searchZone")
        //span.w3-tag.w3-black.w3-margin-bottom Travel
      span.w3-tag.w3-medium.w3-margin-bottom.w3-border(id="tagSpan" style="display:none")
      
      div(id="publicacoesInsertZone")

    div(id="gruposLayout")
      div(id="divGrupoForm")
        form(action="/grupos" method="POST" enctype='multipart/form-data' id="grupoForm").w3-container.w3-center.w3-padding-16.w3-border
          h4.w3-left Novo Grupo
          input.w3-input.w3-cell.w3-border.w3-margin-bottom(type="text" name="nome" placeholder="Nome do grupo" required)
          input.w3-input.w3-cell.w3-border.w3-margin-bottom(type="text" name="descricao" placeholder="Breve descrição" required)
          input.w3-input.w3-cell.w3-border.w3-margin-bottom.w3-hide(type="text" id="admin" name="admin" value=user required)
          input.w3-input.w3-cell.w3-border.w3-margin-bottom.w3-hide(type="text" name="membros" value=user required)        
          input.w3-input.w3-hover-shadow.w3-center.colorButtons(type="submit" value="Criar")
      button.w3-button.w3-hover-shadow.w3-large.w3-black(id='hideGrupoForm' style="width:100%") Esconder
      button.w3-button.w3-hover-shadow.w3-large.w3-black.w3-hide(id='showGrupoForm' style="width:100%") Mostrar
      div
        h5.w3-margin-left(id="headerGruposInsertZone" style="display: none;") Os teus grupos
        .w3-row(id="gruposInsertZone")
        h5.w3-margin-left(id="headerGruposInsertZone2" style="display: none;") Outros grupos
        .w3-row(id="gruposInsertZone2")
    
    div(id="grupoLayout" style="display:none")
      button.w3-button.w3-round-medium.w3-indigo.w3-left.w3-margin-left.w3-margin-top(id='backToGruposList') Voltar
      .w3-row
        .w3-col.l3
          .w3-card.w3-margin
            .w3-container.w3-padding.w3-dark-grey
              h4(id="nomeGrupo")
            .w3-container.w3-white
              h6(id="adminGrupo")
              p(id="descricaoGrupo")
            .w3-container.w3-blue
              h5 Membros
            div.w3-container.w3-white(id="listaMembrosGrupo")
          div(id="adminTools" style="display:none")
            .w3-card.w3-margin
              .w3-container.w3-padding.w3-dark-grey
                h5 Adicionar Membros
              .w3-container.w3-blue
                h5 Membros
              .w3-container.w3-white
                form(action="/addMembro" method="POST" id="formAddMembro")
                  input.w3-input.w3-border.w3-hover-border-black(type='email' name="idMembro" placeholder='Email...' required)
                  input.w3-input.w3-cell.w3-border.gid(type="hidden" name="gid" value="" required)
                  input.w3-button.w3-round-medium.w3-indigo(type="submit" value="Confirmar" style="width:100%")
            .w3-card.w3-margin
              .w3-container.w3-padding.w3-dark-grey
                h5 Remover Membros
              .w3-container.w3-blue
                h5 Membros
              .w3-container.w3-white
                form(action="/removeMembro" method="POST" id="formRemoveMembro")
                  input.w3-input.w3-border.w3-hover-border-black(type='email' name="idMembro" placeholder='Email...' required)
                  input.w3-input.w3-cell.w3-border.gid(type="hidden" name="gid" value="" required)
                  input.w3-button.w3-round-medium.w3-indigo(type="submit" value="Confirmar" style="width:100%")
        .w3-col.l9
          div.w3-card-4.w3-margin.w3-white
            div(id="divPublicacaoGrupoForm")
              form(action="http://localhost:5003/publicacoes" method="POST" enctype='multipart/form-data' id="publicacaoGrupoForm").w3-container.w3-center.w3-padding-16.w3-border
                h4.w3-left Nova Publicação
                input.w3-input.w3-cell.w3-border.w3-margin-bottom(id="conteudo" type="text" name="conteudo" placeholder="Conteúdo" required)
                input.w3-input.w3-cell.w3-border.w3-margin-bottom(type="text" name="metadata" placeholder="Hashtags (Ex: dweb2019, mei)")
                input.w3-input.w3-cell.w3-border.w3-margin-bottom.w3-hide(id="utilizador" type="text" name="utilizador" value=user required)
                input.w3-input.w3-cell.w3-border.w3-margin-bottom.w3-hide.gid(type="text" name="grupo")        
                .w3-cell-row(id="f1")
                  input.w3-input.w3-cell(type="file" id="ficheiro" name="ficheiro")
                button.w3-button.w3-round-large.w3-indigo.w3-left.w3-margin-bottom.w3-margin-top(id='addfileGrupo') Adicionar outro ficheiro
                button.w3-button.w3-round-large.w3-indigo.w3-left.w3-margin-bottom.w3-margin-top.w3-margin-left(id='removefileGrupo') Remover ficheiro
                input.w3-input.w3-hover-shadow.w3-center.colorButtons(type="submit" value="Publicar" id="btnPublicar")
            button.w3-button.w3-hover-shadow.w3-large.w3-black(id='hidePublicacaoGrupoForm' style="width:100%") Esconder
            button.w3-button.w3-hover-shadow.w3-large.w3-black.w3-hide(id='showPublicacaoGrupoForm' style="width:100%") Nova publicação
          div(id="grupoInsertZone")
          

    div(id="perfilLayout")
      div(id="perfilInsertZone")


  footer.w3-container.w3-padding-32.w3-margin-top(style="background-color:#C8EFF9")
    p
      | DWEB 2019/2020 
      a(href='https://github.com/diogogsilva/umshare' target='_blank') GitHub


      .w3-row(id="templatePublicacoes" style="display:none")
        .w3-col.l8.s12(id="idk")
          .w3-card-4.w3-margin.w3-white(id="t")

      div(id="pub" style="display:none") 
        .w3-card-4.w3-padding.w3-margin-bottom
          button.w3-right.w3-margin-top.delete-button(id="removePublicacaoBtn") X
          h5
            p(id="publicadorPub" style="display:inline;")
            p(style="display:inline;") , às 
            p(id="dataPub" style="display:inline;")
          h5
            p(id="metadataPub")
          h3
            p(id="conteudoPub")
          h5
            p.w3-hide(id="idPub")
        div.w3-card.w3-padding(id="fileZone" style="display:none")
        div.w3-padding(id="comentZone" style="display:none")

      .w3-container.w3-border.w3-border-black.w3-white.w3-margin.w3-margin-bottom(id="templateComentarios" style="display:none")
        button.w3-right.w3-margin-top.delete-button(id="apagaComentarioBtn") X
        h5
          p(id="utilizadorCom")
        h4
          p(id="conteudoCom")
        h5
          p.w3-right(id="dataCom")
        h5.w3-hide(id="idCom")
        h5.w3-hide(id="idPub")

      div.w3-margin-bottom(id="divComentarioForm" style="display:none")
        form.w3-container.w3-borders.w3-border-indigo.w3-margin-top(action="/comentar" method="POST" id="comentarioForm")
          input.w3-input.w3-cell.w3-border(type="hidden" name="pubid" id="pubidForm")
          input.w3-input.w3-cell.w3-border(type="text" name="conteudo" placeholder="Escreva aqui o seu comentário" required)
          input.w3-input.w3-hover-shadow.w3-center.colorButtons.w3-margin-top(type="submit" value="Comentar")

      
      div(id="divHideButton" style="display:none")
        button.w3-button.w3-hover-shadow.w3-large.w3-black.w3-hide(id='hideComentarioForm' style="width:100%") Esconder
        button.w3-button.w3-hover-shadow.w3-large.w3-black(id='showComentarioForm' style="width:100%") Comentários


      .w3-col.l6(id="templateGrupos" style="display:none")
        .w3-card-4.w3-margin.w3-white.w3-grupo
          .w3-container
            h3
              p(id="nomeGrupo")
            h6
              p(id="descricaoGrupo")
            h6
              p.w3-left(id="adminGrupo" style="display:inline")
              p.w3-right(id="membrosGrupo" style="display:inline")

      .w3-row(id="templateGrupoPub" style="display:none")
        .w3-card-4.w3-margin.w3-white
          .w3-container
            h3
              p(id="conteudoPub")
            h5
              p(id="metadataPub")


      .w3-row(id="templateGrupoPublicacoes" style="display:none")
        .w3-col.l8.s12(id="idk")
          .w3-card-4.w3-margin.w3-white(id="t")

      div(id="pubGrupo" style="display:none") 
        .w3-card-4.w3-padding.w3-margin-bottom
          button.w3-right.w3-margin-top.delete-button(id="removePublicacaoGrupoBtn") X
          h5
            p(id="publicadorPub" style="display:inline;")
            p(style="display:inline;") , às 
            p(id="dataPub" style="display:inline;")
          h5
            p(id="metadataPub")
          h3
            p(id="conteudoPub")
          h5
            p.w3-hide(id="idPub")
        div.w3-card.w3-padding(id="fileZone" style="display:none")
        div.w3-padding(id="comentZone" style="display:none")

      .w3-container.w3-border.w3-border-black.w3-white.w3-margin.w3-margin-bottom(id="templateComentariosGrupo" style="display:none")
        button.w3-right.w3-margin-top.delete-button(id="apagaComentarioGrupoBtn") X
        h5
          p(id="utilizadorCom")
        h4
          p(id="conteudoCom")
        h5
          p.w3-right(id="dataCom")
        h5.w3-hide(id="idCom")
        h5.w3-hide(id="idPub")

      div.w3-margin-bottom(id="divComentarioGrupoForm" style="display:none")
        form.w3-container.w3-borders.w3-border-indigo.w3-margin-top(action="/comentar" method="POST" id="comentarioGrupoForm")
          input.w3-input.w3-cell.w3-border(type="hidden" name="pubid" id="pubidForm")
          input.w3-input.w3-cell.w3-border(type="text" name="conteudo" placeholder="Escreva aqui o seu comentário" required)
          input.w3-input.w3-hover-shadow.w3-center.colorButtons.w3-margin-top(type="submit" value="Comentar")
      
      div(id="divHideButtonGrupo" style="display:none")
        button.w3-button.w3-hover-shadow.w3-large.w3-black.w3-hide(id='hideComentarioGrupoForm' style="width:100%") Esconder
        button.w3-button.w3-hover-shadow.w3-large.w3-black(id='showComentarioGrupoForm' style="width:100%") Comentários







      .w3-row(id="templatePerfil" style="display:none")
        .w3-col.l8.s12
          .w3-card-4.w3-margin.w3-white
            .w3-container
              h3
                p(id="nomePerfil")
              h5
                p(id="emailPerfil")
      
      h4.w3-margin(id="titComentarios" style="display:none") Comentários

      h5(id="fileNamePub" style="display:none")
        p(class="fileP" style="text-decoration: underline;" id="fileNamePubp")

      .w3-card-4.modal(id='display' style="display:none")

  script.
    $(document).ready(function () {
      $("#tabPerfil").on("click", function () {
        if(!$('#tabPerfil').hasClass('active')){
          $('#perfilInsertZone').empty();
          $.ajax({
              url: "/perfil"
          })
          .done(function( data ) {
            $('#publicacoesLayout').hide();
            $('#gruposLayout').hide();
            $('#grupoLayout').hide();
            $('#perfilLayout').show();
            $('#tabFeed').removeClass('active');
            $('#tabGrupos').removeClass('active');
            $('#tabPerfil').addClass('active');
            var clone = $('#templatePerfil').clone(true);
            clone.attr("style", "");
            clone.find('#nomePerfil').text(data.nome);
            clone.find('#emailPerfil').text(data.email);
            clone.appendTo("#perfilInsertZone");
          });
        }
      });
    });
