extends layout

block content
  body.w3-container
    header.w3-container.w3-center.w3-padding-32
        h1
            b UM SHARE
        p
            | Partilha os teus 
            span.w3-tag|apontamentos!
    div.alert.w3-red(id="divAlertWarning" style="opacity:0")
        span.closebtn &times;
        strong(id="msgWarning")
    form(action="/login" method="POST" id="formLogin")
        .w3-container
            .w3-section
                label
                b Email
                input.w3-input.w3-border.w3-hover-border-black.w3-margin-bottom(type='email' name="email" placeholder='Introduza o seu email' required)
                label
                b Password
                input.w3-input.w3-border.w3-hover-border-black(type='password' name="password" placeholder='Introduza a password' required)
                //input.w3-check(type='checkbox' checked='checked')
                //|  Remember me
            .w3-container.w3-border-top.w3-padding-16.w3-light-grey
                input.w3-input.w3-hover-shadow.w3-center.colorButtons(type="submit" value="Enviar" style="width:10%")
                span.w3-right.w3-padding.w3-hide-small
                    | Não está registado? 
                    a(href='http://localhost:2222/register') Registar

